.footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #fff;
}
.footer .links{
    display: flex;
    justify-content: space-around;
    margin-top: 93px;
    padding-top: 93px;
    padding-bottom: 94px;
    background: rgba(16, 20, 24, 0.7);
}
.footer .links .head{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
.footer .head img{
    width: 79px;
}
.footer .links h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFCCC;
    padding-left: 10px;
}
.footer .links p{
    width: 302px;
}
.footer .social{
    margin-top: 18px;
    text-align: left;
}
.footer .social img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
}
.footer h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFC;
    text-align: left;
    margin-bottom: 31px;
}
.footer .contact{
    list-style: none;
}
.footer .contact div{
    display: flex;
    margin-top: 18px;
}
.footer .contact li{
    width: 359px;
}
.footer .contact div img{
    margin-right: 15px;
    width: 32px;
    height: 32px;
}
.footer .links p , .footer ul{
    font-weight: 400;
    font-size: 16px;
    line-height: 155.3%;
    letter-spacing: 0.13em;
    text-transform: capitalize;
    color: #FFFFFC;
    text-align: left;
}
/* forms  */
.footer .forms{
    display: flex;
    justify-content: center;
}
.footer .forms p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFC;
    margin-right: 90px;
}
.footer .forms p img{
    margin-right: 20px;
}
.footer input{
    width: 407px;
    height: 60px;
    border: 2px solid rgb(255 252 204);
    background: transparent;
    padding: 17px 57px;
    margin-right: 20px;
    color: #fff;
}
.footer input::placeholder{
    letter-spacing: 0.13em;
}
.copyright{
    background: rgba(16, 20, 24, 0.7);
}

.copyright p{
    text-align: center;
}